@charset "UTF-8";

@font-face {
	font-family: 'Poiret One';
	src: url('PoiretOne-Regular.ttf');
}

/*sticky footer starts*/
* {
	margin: 0;
}

html, body {
	height: 100%;
}

#content-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -15em;
}

footer, #push {
	height: 15em;
}
/*sticky footer ends*/

.centered {
	text-align: center;
}

img.centered {
	display: block;
	margin: 0 auto;
}

.stylized-font {
	font-family: 'Poiret One', sans-serif;
	/*font-weight: 200;*/
}
