@charset "UTF-8";

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSans-Regular.ttf');
}

html, body {
	color: #506675;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	font-size: 112.5%;
	font-weight: 400;
}

/*sticky footer starts*/
* {
	margin: 0;
}

html, body {
	height: 100%;
}

#content-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5em;
}

footer, #push {
	height: 5em;
}
/*sticky footer ends*/

footer {
	background-color: #23282B;
	clear: both;
	color: #919191;
	padding-top: 2em;
}

footer a {
	color: #919191;
	transition: all 500ms ease-in-out;
	margin-right: 1rem;
}

footer a:hover {
	color: white;
	text-decoration: none;
	transform: scale(1.5);
}

.centered {
	text-align: center;
}

img.centered {
	display: block;
	margin: 0 auto;
}

strong {
	font-weight: 600;
	font-size: 1.25rem;
}

.picture {
	z-index: 100;
	width: 20%;
	transition: all 5s cubic-bezier(1.000, -0.530, 0.405, 1.425);
	-moz-transition: all 5s cubic-bezier(1.000, -0.530, 0.405, 1.425);
}

.img-container {
	clear: both;
	margin-top: 3em;
	margin-bottom: 3em;
}

.hidden-pic {
	display: none;
}

.transition {
	transform: scale(-1.25) rotate(180deg);
	-moz-transform: scale(-1.25) rotate(180deg);
	/*transform: scale(1.3) translate(100px, 100px) rotate(360deg) skew(10deg, 10deg);*/
}